In [ ]:
# 실제 입국객 데이터 가공 및 시각화 하기 
# 데이터 가공 전 확인 할 것 
## 파일명에 패턴이 있는지, 파일명에 쓸 수 있는 데이터가 있는 지 확인 
## 파일명이 년월 단위 -> 쓸 수 있는 데이터, 패턴 존재 
# 파일 분석 순서 
## 파일 불러오기 -> info() 결측치 확인, 데이터 타입 확인 
## -> describe() 기초통계확인, 이상치 확인 
## -> 필요한 내용 있으면 파일 통합하기 (메타데이터, 추가 필요 데이터 등)
###  코드가 존재하면 메타데이터(코드에 대한 정보)도 항상 같이 존재 한다
## -> 파일 저장하기

## 파일불러들이는 라이브러리 선언하기

In [2]:
import pandas as pd

# 파일 읽어들이기

In [3]:
# 파일병 : kto_201901.xlsx
# 데이터 프레임 변수명 : kto_201901

kto_df = pd.DataFrame()
kto_201901 = pd.read_excel("./files_02/kto_201901.xlsx",
                          header = 1,
                          skipfooter = 4,
                          usecols = "A:G")
kto_201901.head()
kto_201901.tail()
kto_201901
# 아시아주,미주,구주,대양주,아프리카주 의 경우 데이터가 이상함 국적이 아니다
# 엑셀 데이터 보기 -> 데이터가 주 -> 국가 순 이다

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [4]:
# 데이터 프레임 정보 확인하기 
## 결측치 및 데이터 타입 확인 
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [5]:
# 기초 통계확인하기 
## 이상치 확인하기 
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [6]:
# [문제]
## 각 칼럼에서 0인 데이터가 있는 부분만 필터링하기 
## 0인 데이터 확인하기
## 0인 데이터가 너무 많으면 데이터 분석이 어렵다 

condition = (kto_201901["관광"] == 0) | (kto_201901["상용"] == 0) |\
           (kto_201901["공용"] == 0) | (kto_201901["유학/연수"] == 0)

condition

0     False
1     False
2     False
3     False
4      True
      ...
62    False
63     True
64     True
65     True
66     True
Length: 67, dtype: bool

In [7]:
kto_201901[condition == True]
# 공용에 0이 많다, 교포에 0이 많다 -> 데이터 제공 쪽에 물어봐야 한다 
# 교포 => 기타로 분류 한다 
# 관광 많이 오는 나라 확인, 관광많은 때 이슈 확인 
## -> 공용 데이터는 활용을 안 할 것이니 무시

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [8]:
# 행의 수 세는데도 len() 함수 사용 
len(kto_201901[condition == True])

13

In [9]:
# 기준년월 칼럼 추가하기 
## 데이터는 파일명 기준 
kto_201901["기준년월"] = "2019-01"
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [10]:
# 이상국가명 활용여부 결정 : 대류별 구분 활용? 
## 활용 -> 국가 이름과 대륙이름 매핑 해보기 
# * text 입력 -> 코드입력 으로 변경 : yy

In [11]:
# 대륙 필터링하기 -> 국적만 남겨두기

In [12]:
# unique() : 특정정 컬럼의 데이터에서 고유한 값만 추출하고자 할 때 사용 (중복제거)
kto_201901["국적"].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [13]:
# 자동으로 안됨 수작업으로 걸러 줘야 한다 
## '아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계'

In [14]:
## 대륙 필터링하기 
# isin() : 여러가지 조건에 맞는 내용 필터링 
continentis_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
kto_201901_country = kto_201901[kto_201901["국적"].isin(continentis_list) == False]  

len(kto_201901_country)

60

In [15]:
# 데이터 확인 
kto_201901_country["국적"].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [16]:
kto_201901_country.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월
1   일본  198805  2233  127    785  4576  206526  2019-01
2   대만   86393    74   22    180  1285   87954  2019-01
3   홍콩   34653    59    2     90  1092   35896  2019-01
4  마카오    2506     2    0     17    45    2570  2019-01
5   태국   34004    37  199     96  6998   41334  2019-01

In [17]:
# 데이터 프레임의 인덱스를 0부터 재배열 하기 
## reset_index() -> 기존의 인덱스가 index 칼럼으로 생성 
## index 칼럼 안생기게 하기 : drop = True 
## drop = True : 기존의 인덱스를 사요하지 않을 때 사용(컬러믕로 만들지 않기)
## drop = False : 기존의 인덱스를 사용할 때 컬럼으로 만들기 (디폴트) 

kto_201901_country_newindex = kto_201901_country.reset_index(drop = True)
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [18]:
# 리스트 곱하기 연산과 더하기 연산자 응용 하기 
["아시아주"] * 2  + ["미주"]

['아시아주', '아시아주', '미주']

In [19]:
# 대륙이름 과 국가명 매핑하기 
## 대륙이름 
## 아시아, 아메리카, 유럽, 오세아니아, 아프리카, 기타대륙, 교포 
continentis_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [20]:
continents = ["아시아"]* 25 + ["아메리카"]* 5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"] *2 +["기타대륙"] + ["교포"]
len (continents)

60

In [33]:
## 국적 자동 개수 세기 만들기 (완성x)
content = []
continents = ["아시아", "아메리카", "유럽", "오세아니아", "아프리카", "기타대륙", "교포"]
j = 0
for i in range(0,len(kto_201901),1) :
    if kto_201901["국적"][i] ==  "아시아주" :
        j = 0 
        i += 2
    if kto_201901["국적"][i] == "미주" :
        j += 1
        i += 2
        print(i)
    if kto_201901["국적"][i] == "구주" : 
        j += 1
        i += 2
        print(i)
    if kto_201901["국적"][i] == "대양주" : 
        j += 1
        i += 2
        print(i)
    if kto_201901["국적"][i] == "아프리카주" : 
        j += 1
        i += 2
        print(i)
    if kto_201901["국적"][i] == "국적미상" : 
        j += 1
        i += 1
        print(i)
    if kto_201901["국적"][i] == "교포" : 
        j += 1
        i += 1
        print(i)
    content.append(continents[j])

print(len(content),content)

28
34
58
62
65
67
67 ['아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아메리카', '아메리카', '아메리카', '아메리카', '아메리카', '아메리카', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '오세아니아', '오세아니아', '오세아니아', '오세아니아', '아프리카', '아프리카', '아프리카', '아프리카', '기타대륙', '기타대륙', '교포']

In [67]:
# 대륙 컬럼 추가하기 
kto_201901_country_newindex["대륙"] = continents
print(len(kto_201901_country_newindex))
kto_201901_country_newindex

60

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

In [77]:
# 각 국가별 관광객 비율 계산 하기 
## 소수점 개수 맞추는 함수 : round (0: 소수점 X) 
## -> 일반적으로 3~4 자리 까지 나타낸다 
condition = round((kto_201901_country_newindex["관광"]/\
                   kto_201901_country_newindex["계"]) * 100, 4)
condition
kto_201901_country_newindex["관광객비율"] = condition
kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.2615
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2252
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5372
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5097
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.2664
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3041
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.8579
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.2733
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.9518
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.6549
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2081
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7328
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.1989
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.0620
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9487
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.5622
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4165
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.4923
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6087
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3106
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.3697
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0285
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1360
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.2748
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.2776
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5226
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.4783
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.1851
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.7788
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0053
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.6559
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.8978
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.6893
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.1631
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9470
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.0616
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.0615
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2410
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9139
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1114
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1031
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8304
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.0645
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.7589
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.9627
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.8824
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2157
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5084
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0285
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2477
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7309
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.8520
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0118
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.5695
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.4587
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.3909
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8000
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.5502
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1111
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0000

In [84]:
# 관광객 비율이 높은 순으로 정렬 
## DataFrame 함수 sort_values(by="정렬기준")
## ascending = False : 큰 순으로 정렬(내림차순) 
## ascending = True : 작은순으로 정렬(오름차순, 기본)

kto_201901_country_newindex.sort_values(by="관광객비율", ascending = True).head()

       국적   관광   상용  공용  유학/연수     기타      계     기준년월   대륙    관광객비율
59     교포    0    0   0      0  15526  15526  2019-01   교포   0.0000
14  방글라데시  149  126  27     97    848   1247  2019-01  아시아  11.9487
12   스리랑카  157   54   5     28   1043   1287  2019-01  아시아  12.1989
13   파키스탄  238  178  10    193    413   1032  2019-01  아시아  23.0620
15   캄보디아  635   39  55     51   1915   2695  2019-01  아시아  23.5622

## 집계하기

In [86]:
# 집계함수 : pivot_table() 함수 사용 
## 대륙별 관광객 비율의 평균 집계하기 
## ~별이면 그룹을 짓는 거다 
## values : 집계할 데이터 지정 
## index : 집계기준 칼럼 지정
## aggfunc : 어떻게 집계할 것인지 함수이름 지정 
kto_201901_country_newindex.pivot_table(values = "관광객비율",
                                       index = "대륙",
                                       aggfunc = "mean")

           관광객비율
대륙
교포      0.000000
기타대륙   61.111100
아메리카   68.194020
아시아    59.618776
아프리카   32.675100
오세아니아  84.806367
유럽     63.823457

In [89]:
# [문제]
## 중국구적에 대한 데이터만 조회해주세요 
kto_201901_country_newindex[kto_201901_country_newindex["국적"] == "중국"]

    국적      관광    상용   공용  유학/연수     기타       계     기준년월   대륙    관광객비율
17  중국  320113  2993  138   8793  60777  392814  2019-01  아시아  81.4923

In [ ]:
# 한 작업 : 국적 데이터 정제 (대륙 뽑기)
# 기준년월, 대륙, 관광객 비율 칼럼 및 데이터 추가

In [99]:
# 전체 국가 대비 각 국가의 관광객 비율
## sum 함수 사용하기 
tourist = round(kto_201901_country_newindex["관광"]/\
      sum(kto_201901_country_newindex["관광"]) * 100) 

kto_201901_country_newindex["전체바율(%)"] = tourist
kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율,전체바율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.2615,22.0
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2252,10.0
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5372,4.0
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5097,0.0
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.2664,4.0
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3041,2.0
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.8579,2.0
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.2733,2.0
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.9518,1.0
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.6549,0.0
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2081,1.0
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7328,0.0
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.1989,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.0620,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9487,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.5622,0.0
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4165,1.0
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.4923,36.0
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6087,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3106,0.0
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.3697,0.0
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0285,0.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1360,0.0
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.2748,0.0
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.2776,0.0
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5226,5.0
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.4783,1.0
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.1851,0.0
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.7788,0.0
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0053,0.0
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.6559,1.0
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.8978,1.0
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.6893,0.0
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.1631,0.0
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9470,0.0
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.0616,0.0
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.0615,0.0
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2410,0.0
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9139,0.0
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1114,0.0
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1031,0.0
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8304,0.0
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.0645,0.0
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.7589,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.9627,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.8824,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2157,0.0
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5084,2.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0285,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2477,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7309,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.8520,0.0
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0118,0.0
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.5695,1.0
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.4587,0.0
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.3909,0.0
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8000,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.5502,0.0
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1111,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0000,0.0

In [105]:
kto_201901_country_newindex.rename(columns = {"전체바율(%)" : "전체비율(%)", "관광객비율" : "관광객비율(%)"}, inplace=True)

In [106]:
## 우리나라에 입국하는 관관객이 가장 많은 국가를 top10을 조회해 주세여 
kto_201901_country_newindex.sort_values("전체비율(%)", ascending = False).head(10)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.4923,36.0
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.2615,22.0
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2252,10.0
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5226,5.0
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5372,4.0
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.2664,4.0
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3041,2.0
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.8579,2.0
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.2733,2.0
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5084,2.0

In [110]:
# 지금까지 처리내용 정리 
# 1. 파일불러들이기 
# 2. 기준년월 칼럼 추가 
# 3. 국적 칼럼에서 대륙 제거
# 4. 대륙컬럼 추가 
# 5. 관광객 비율(%) 칼럼 추가 
# 6. 전체비율(%) 칼럼추가

In [8]:
# 테스트 용 (완성 x)
yy = 2010
mm =1 
continentis_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙',\
                    '교포소계']
continents = ["아시아"]* 25 + ["아메리카"]* 5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"] *2 +["기타대륙"] + ["교포"]

kto_yymm = pd.read_excel("./files_02/kto_{}{}.xlsx".format(yy,str(mm).zfill(2)),
                        header = 1,
                        skipfooter = 4,
                        usecols = "A:G")

kto_yymm["기준년월"] = "{}-{}".format(yy,str(mm).zfill(2))

kto_c = kto_yymm[kto_yymm["국적"].isin(continentis_list) == False]

kto_c = kto_c.copy()

kto_c["대륙"] = continents

kto_c["관광객비율(%)"] = round((kto_c["관광"]/kto_c["계"]) * 100, 4)
kto_c.sort_values(by="관광객비율(%)", ascending = True)


kto_c["전체비율(%)"] = round(kto_c["관광"]/sum(kto_c["관광"]) * 100) 
kto_c.sort_values(by="전체비율(%)", ascending = True)

df = kto_c
df

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
1,일본,202825,1750,89,549,3971,209184,2010-01,아시아,96.9601,51.0
2,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3214,9.0
3,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.3867,3.0
4,마카오,554,0,0,0,0,554,2010-01,아시아,100.0000,0.0
5,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.0758,3.0
6,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.2088,1.0
7,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.7801,1.0
8,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.3565,0.0
9,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.2601,1.0
10,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.7135,0.0
11,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.6534,0.0
12,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.3150,0.0
13,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.0185,0.0
14,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.8039,0.0
15,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.1127,0.0
16,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.4286,0.0
17,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.1865,1.0
18,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3004,10.0
19,이란,69,309,0,3,217,598,2010-01,아시아,11.5385,0.0
20,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.5234,0.0
21,터키,472,15,2,15,465,969,2010-01,아시아,48.7100,0.0
22,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.8438,0.0
23,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.8019,0.0
24,GCC,223,134,0,18,55,430,2010-01,아시아,51.8605,0.0
25,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.4157,0.0
27,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.5636,7.0
28,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,55.9708,1.0
29,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.4908,0.0
30,브라질,459,46,1,11,248,765,2010-01,아메리카,60.0000,0.0
31,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.6651,0.0
33,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.3994,1.0
34,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.3836,1.0
35,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.7021,1.0
36,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,69.9768,0.0
37,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.1979,0.0
38,스위스,512,30,0,7,77,626,2010-01,유럽,81.7891,0.0
39,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.0843,0.0
40,덴마크,378,28,0,5,94,505,2010-01,유럽,74.8515,0.0
41,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.6512,0.0
42,벨기에,322,25,1,8,104,460,2010-01,유럽,70.0000,0.0
43,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.7273,0.0
44,스페인,542,29,11,8,108,698,2010-01,유럽,77.6504,0.0
45,그리스,345,47,0,0,213,605,2010-01,유럽,57.0248,0.0
46,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.5806,0.0
47,핀란드,376,16,0,12,131,535,2010-01,유럽,70.2804,0.0
48,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.1255,0.0
49,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.9380,0.0
50,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.7071,1.0
51,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.2268,0.0
52,루마니아,142,12,0,9,370,533,2010-01,유럽,26.6417,0.0
53,불가리아,103,0,0,9,414,526,2010-01,유럽,19.5817,0.0
54,폴란드,378,29,0,10,431,848,2010-01,유럽,44.5755,0.0
55,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.0787,0.0
57,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.7185,2.0
58,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.9214,0.0
59,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.5740,0.0
61,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.1574,0.0
62,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.8519,0.0
64,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.9231,0.0
66,교포,0,0,0,0,22537,22537,2010-01,교포,0.0000,0.0

In [11]:
#모든 파일을 위 처리내용을 반영해서 하나의 데이터프레임으로 통합하기
## 최종 데이터프레임 이름 = df 합니다
## 1. for문으로 전체 통합 잘 되는지 확인 후 처리 내용부분을 함수로 분리하기
# 테스트용 (완성 x)

def DF (start, end) :
    yy = 2010
    mm =1 
    continentis_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙',\
                    '교포소계']
    continents = ["아시아"]* 25 + ["아메리카"]* 5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"] *2 +["기타대륙"] + ["교포"]

    kto_yymm = pd.read_excel("./files_02/kto_{}{}.xlsx".format(yy,str(mm).zfill(2)),
                        header = 1,
                        skipfooter = 4,
                        usecols = "A:G")

    kto_yymm["기준년월"] = "{}-{}".format(yy,str(mm).zfill(2))

    kto_c = kto_yymm[kto_yymm["국적"].isin(continentis_list) == False]

    kto_c = kto_c.copy()

    kto_c["대륙"] = continents

    kto_c["관광객비율(%)"] = round((kto_c["관광"]/kto_c["계"]) * 100, 4)
    kto_c.sort_values(by="관광객비율(%)", ascending = True)


    kto_c["전체비율(%)"] = round(kto_c["관광"]/sum(kto_c["관광"]) * 100) 
    kto_c.sort_values(by="전체비율(%)", ascending = True)

    df = kto_c
        
    for i in range(start + 1 ,end + 1,1) :
        mm += 1
        if (i) % 12 == start :
            mm = 1
            yy += 1
            
        kto_yymm = pd.read_excel("./files_02/kto_{}{}.xlsx".format(yy,str(mm).zfill(2)),
                            header = 1,
                            skipfooter = 4,
                            usecols = "A:G")

        kto_yymm["기준년월"] = "{}-{}".format(yy,str(mm).zfill(2))

        kto_c = kto_yymm[kto_yymm["국적"].isin(continentis_list) == False]

        kto_c = kto_c.copy()

        kto_c["대륙"] = continents

        kto_c["관광객비율(%)"] = round((kto_c["관광"]/kto_c["계"]) * 100, 4)
        kto_c.sort_values(by="관광객비율(%)", ascending = True)


        kto_c["전체비율(%)"] = round(kto_c["관광"]/sum(kto_c["관광"]) * 100) 
        kto_c.sort_values(by="전체비율(%)", ascending = True)

        df = pd.concat([df,kto_c], ignore_index = True)
        
    return df

In [12]:
df = DF(0,116)
df

FileNotFoundError: [Errno 2] No such file or directory: './files_02/kto_201909.xlsx'

In [13]:
### 함수 생성하기
def get_kto_dataFrame(yyyy, mm) :
    file_nm = "./files_02/kto_{}{}.xlsx".format(yyyy, str(mm).zfill(2))
    #         print(file_nm)
    kto_201901 = pd.read_excel(file_nm,
                          header = 1,
                          usecols = "A:G",
                          skipfooter = 4)

    ### 기준년월 컬럼 생성하기
    kto_201901["기준년월"] = "{}-{}".format(yyyy, str(mm).zfill(2))   

    ### 국적에서 대륙이름 제거하기(정제)
    continents_list = ['아시아주', '미주', '구주', '대양주', 
                   '아프리카주', '기타대륙', '교포소계']
    condition = kto_201901["국적"].isin(continents_list)
    kto_201901_country = kto_201901[condition == False]

    ### 인덱스 재정렬 하기
    kto_201901_country_newindex =kto_201901_country.reset_index(drop=True)

    ### 대륙 컬럼 추가하기
    continents = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + \
                ["아프리카"]*2 + ["기타대륙"] + ["교포"]
    kto_201901_country_newindex["대륙"] = continents

    ### 각 국가별로 관광을 위해 들어오는 비율을 계산하기...
    kto_201901_country_newindex["관광객비율(%)"] = \
                            round(kto_201901_country_newindex["관광"] / \
                              kto_201901_country_newindex["계"] * 100, 4)

    ### 전체 국가대비 관광객비율 계산하기...
    # - 전체 관광객 합산하기 : sum() 함수 사용하기
    tourist_sum = sum(kto_201901_country_newindex["관광"])
    kto_201901_country_newindex["전체비율(%)"] = \
            round(kto_201901_country_newindex["관광"] / tourist_sum * 100 , 4)
    
    return kto_201901_country_newindex

In [14]:
df = pd.DataFrame()

for yyyy in range(2010, 2020, 1) :
    for mm in range(1, 13, 1) :
        try :
            ### 함수 호출하기
            temp = get_kto_dataFrame(yyyy, mm)
            
            ### 데이터프레임 추가하가(통합)
            df = pd.concat([df, temp], ignore_index = True)
            
        except :
            pass

print(len(df))
df

6960

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,96.9601,50.6028
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3214,8.9287
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.3867,3.4614
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0000,0.1382
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.0758,3.3367
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,85.2217,0.0415
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,33.5983,0.0506
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,42.7837,0.1662
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,63.1579,0.0029
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0000,0.0000

In [15]:
## 파일로 저장하기 
df.to_excel("./files_02/kto_total.xlsx", index = False)